# Colors and use prefixes for file sizes
alias ls='ls --color=auto --human-readable'

# Don't follow symlinks
alias file='file --no-dereference'

# Colors
alias tree='tree -C'

# Show output in binary files
alias grep='grep --color=auto --text'

# Better diff format
alias diff="diff --color=auto --unified"

# No invalid sequences
alias sed="env LANG=C sed"

# Suppress startup message
alias r="r --quiet"

# Arrow keys in sml REPL
alias sml="rlwrap sml"

# Default to CLI mode
alias emacs="emacs --no-window-system"

# Start a simple HTTP server
alias serve='python3 -m http.server'

# Make a request like cydia would
# Note: This is a fake UDID:
alias curl-cydia='curl --header "X-Machine: iPhone3,1" --header "X-Unique-ID: 8843d7f92416211de9ebb963ff4ce28125932878" --header "X-Firmware: 6.1" --header "User-Agent: Telesphoreo APT-HTTP/1.0.592"'

# Copy and paste
alias copy='xclip -selection clipboard -in'
alias paste='xclip -selection clipboard -out'

# I can't remember how to spell this command
alias music='ncmpcpp'

# Quiet gdb
alias gdb='gdb -q'

alias ip='ip -color -brief'

alias cat='bat'

# See https://github.com/BurntSushi/ripgrep/issues/623
alias rg="rg --hidden --max-columns 1000 --glob '!.git' --glob '!package-lock.json'"
