# Don't follow symlinks
alias file='file -h'

# Colors and use prefixes for file sizes
alias ls='ls -hG'

# Colors
alias tree='tree -C'

# Show output in binary files
alias grep='grep -a'

# Make HTTPie send parameters as a form instead of JSON
alias http='http -f'

# Start a simple HTTP server
alias serve='python -m SimpleHTTPServer'

# Make a request like cydia would
# Note: This is a fake UDID:
alias curl-cydia='curl --header "X-Machine: iPhone3,1" --header "X-Unique-ID: 8843d7f92416211de9ebb963ff4ce28125932878" --header "X-Firmware: 6.1" --header "User-Agent: Telesphoreo APT-HTTP/1.0.592"'

# Installs vim repository
alias vim-install='rake -f ~/.vim/rakefile-vim-install'

# Updates MacPorts
alias portupdate="sudo -s 'port selfupdate; port upgrade -cup outdated; port uninstall -cup inactive; while port uninstall -cup leaves; end;'"

# Runs the theos nic utility
alias nic="$THEOS/bin/nic.pl"

# Better diff format
alias diff="diff -u"

# Verbose stat output
alias stat="stat -x"

# Tabs > Windows
alias mvim="mvim --remote-tab-silent"
