# Don't follow symlinks
alias file='file -h'

# Colors
alias tree='tree -C'

# Show output in binary files
alias grep='grep -a'

# Make HTTPie send parameters as a form instead of JSON
alias http='http -f'

# Start a simple HTTP server
alias serve='python3 -m http.server'

# Make a request like cydia would
# Note: This is a fake UDID:
alias curl-cydia='curl --header "X-Machine: iPhone3,1" --header "X-Unique-ID: 8843d7f92416211de9ebb963ff4ce28125932878" --header "X-Firmware: 6.1" --header "User-Agent: Telesphoreo APT-HTTP/1.0.592"'

# Better diff format
alias diff="colordiff -u"

# No invalid sequences
alias sed="env LANG=C sed"

# Suppress startup message
alias r="r -q"

# Flush dns
alias flush_dns="sudo killall -HUP mDNSResponder"

alias sml="rlwrap sml"
