[user]
	name = Asger Hautop Drewsen
	email = asgerdrewsen@gmail.com
[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	g = grep --break --heading --line-number
	clone-branches = "! git branch -a | sed -n \"/\\/HEAD /d; /\\/master$/d; /remotes/p;\" | xargs -L1 git checkout -t; git checkout master"
[grep]
	lineNumber = true
[core]
	autocrlf = input
	excludesfile = ~/.gitignore_global
[credential]
	helper = gnome-keyring
[url "git@github.com:"]
	pushInsteadOf = https://github.com/
[url "git@gitlab.com:"]
	pushInsteadOf = https://gitlab.com/
[url "git@gitlab.au.dk:"]
	insteadOf = https://gitlab.au.dk/
[diff]
	tool = vimdiff3
	colorMoved = default
	colormovedws = allow-indentation-change
[merge]
	tool = vimdiff3
[mergetool]
	path = nvim
[pull]
	rebase = false
