settings set target.x86-disassembly-flavor intel
settings set plugin.process.gdb-remote.target-definition-file /Library/Python/2.7/site-packages/x86_64_target_definition.py

command alias load_sym_scripts settings set target.load-script-from-symbol-file true

#command script import lldbinit
#command script import jump
#command script import utils

