# Formatters
black
isort

# Tools
frida-tools
ipython
virtualfish

# Libraries
django
httpx
requests
requests-html
keyring
pwntools
z4-solver
pulsectl
hypothesis

# For TeX to unicode in albert
pylatexenc
